# Secrets
*.pem

# OSX
.DS_Store
.AppleDouble
.LSOverride

#IDE
.idea/

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# Linux trash folder which might appear on any partition or disk
.Trash-*


# Ansible
**.retry
ansible/inventory/hosts.ini*
ansible/inventory/cloud-config.yaml

# Terraform local state dirs
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
